
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Sergio IO', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:none;

}

html{
  background: linear-gradient(90deg, #191919 0%, #25224D 50%, #1A1A1A 100%);
}

h1{
  font-family: 'Rock Salt', sans-serif;
  color:white;
}
h2, h3{
  font-family: 'Rock Salt', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}

