
@import '~antd/dist/antd.css';
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Rock+Salt&display=swap');

/* 
*{
  border:1px solid red;
} */

html{
  background:#1a1a1a
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Sergio IO', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background:none;

}



h1{
  font-family: 'Roboto Condensed', sans-serif;
  color:white;
}
h2, h3{
  font-family: 'Rock Salt', sans-serif;
}

p{
  font-family: 'Roboto', sans-serif;
}



/* custom collapse */
[data-theme='compact'] .site-collapse-custom-collapse .site-collapse-custom-panel,
.site-collapse-custom-collapse .site-collapse-custom-panel {
  background: #f7f7f7;
  border-radius: 2px;
  margin-bottom: 24px;
  border: 0px;
  overflow: hidden;
}